
html {
	font-size: 10px		!important;
}

:root {
	/* Цвета */
	--color-body: #181818;
	--color-card: #212121;
	--color-highlight: #333333;
	--color-highlight-light: #555555;
	--color-highlight-transparent: #ffffff0f;
	--color-input-field: #0C0C0C;
	--color-red: #E87D7D;
	--color-green: #70C27E;
	--color-blue: #8AB4F8;
	--color-accent: #8AB4F8;
	--color-highlight-accent: #BCD4FB;
	--color-error: #D04524;

	--color-text-primary: #ffffffde;
	--color-text-secondary: #ffffff99;
	--color-text-primary-invert: #000000;
	--color-text-error: #ED6545;

	/* Скругления углов */
	--radius-small: 5px;
	--radius-medium: 8px;
	--radius-large: 12px;

	/* Ширина бокового меню */
	--width-aside: 24rem;

	/* Ширина контента */
	--width-content: 81rem;
	
	/* Отступ слева у основного контента */
	--margin-left-content: /* 28rem; */ 4rem;

	/* Максимальная ширина страницы */
	--max-width-page: 1120px;
}

body {
	background-color: var(--color-body)	!important;
}

/**** СМЕНА ЦВЕТА ДЛЯ ТЕКСТА ****/
font[color=red] {
	color: var(--color-red)		!important;
}
font[color=green] {
	color: var(--color-green)	!important;
}
font[color=blue] {
	color: var(--color-blue)	!important;
}

/**** ХЭДЕР (от него мы решили избавиться) ****/
body > div.navbar.navbar-static-top {
	display: none		!important;
}

/**** КОНТЕЙНЕР СО ВСЕМ КОНТЕНТОМ ЕТИСА ****/
body > div.container {
	max-width: var(--max-width-page)	!important;
	width: 100%				!important;
}

/**** СМЕНА ЦВЕТА ДЛЯ ССЫЛОК ВО ВСЕМ ЕТИСЕ ****/
a {
	color: var(--color-accent)		!important;
}



/****************************************НАСТЯ START***************************************************************/

	/*******ПРОПУЩЕННЫЕ ЗАНЯТИЯ*********/	
	/*Отступ от меню*/
div.span9 {
	width: var(--width-content) 			!important;
	margin-left: var(--margin-left-content) 	!important;

}
	/*ЦВЕТ СТРОКИ: ОСЕННИЙ ТРИМЕСТР, ВЕСЕННИЙ ТРИМЕСТР, ЛЕТНИЙ ТРИМЕСТР*/	
a.dashed[href] {
	color:var(--color-text-secondary)		!important;
	font-weight: normal					!important;
}

/*Предложение Лёхи*/
div.submenu-item:focus {
	font-weight: bold					!important;
	color:var(--color-text-primary)		!important;
}


	/* ЦВЕТ ЗАГОЛОВКА "ПРОПУЩЕННЫЕ ЗАНЯТИЯ" И ТЕКСТА В ТАБЛИЦЕ (КРОМЕ ДАТЫ)*/	
.slimtab_nice th, .slimtab_nice td, h2 {
	color: var(--color-text-primary)		!important;
}

	/*ЦВЕТ ДАТЫ (красный)*/
.slimtab_nice font {
	color: var(--color-red) 			!important;
}
	/*ЦВЕТ ДАТЫ (зеленый)*/
.slimtab_nice font[title=больничный] {
	color: var(--color-green) 			!important;
}

	/*ПОДЧЕРКИВАНИЕ ССЫЛОК*/
a.dashed {
	border-bottom: 1px dashed			!important
}

	/*ЯЧЕЙКИ ТАБЛИЦЫ*/
div.span9 > table.slimtab_nice > tbody > tr > td {
	background-color: var(--color-card)		!important;
	border: 0.24rem solid var(--color-body) 	!important;
	padding: 1.5rem 				!important;
	vertical-align: middle !important;

}
	/*ЯЧЕЙКИ ЗАГОЛОВОК ТАБЛИЦЫ */
div.span9 > table.slimtab_nice > tbody > tr > th {
	background-color: var(--color-highlight)	!important;
	border-color: var(--color-body)			!important;
	font-weight: bold				!important;
	border: 0.24rem solid var(--color-body) 	!important;
	padding: 1rem;
	text-align: center !important;
	vertical-align: middle !important;
}

 /*Скругления углов таблицы*/
div.span9 > table > tbody > tr:nth-child(1) > *:nth-child(1) {
	border-top-left-radius:  var(--radius-large) 	!important;
}

div.span9 > table > tbody > tr:nth-child(1) > :nth-last-child(1) {
	border-top-right-radius: var(--radius-large) 	!important;
}

div.span9 > table > tbody > tr:nth-last-child(1) > *:nth-child(1) {
	border-bottom-left-radius: var(--radius-large) 	!important;
}

div.span9 > table > tbody > tr:nth-last-child(1) > *:nth-last-child(1) {
	border-bottom-right-radius:var(--radius-large) 	!important;
}

/*Цвет текста "Всего пропущенных занятий"*/
div.span9 > font[color=red]{
	color: var(--color-red) 			!important;
}

div.span9 {
	color: var(--color-text-primary) 		!important;
}

/****ОБЪЯВЛЕНИЯ****/

div.span9 > .msg {
	color: var(--color-text-primary)		!important;
	border: 0px !important;
	border-radius: var(--radius-medium) 		!important;
	background-color: var(--color-card) 		!important;
	text-align: justify 				!important;
}

 /*К СОЖАЛЕНИЮ АВТОМАТИЧЕСКИ МЕНЯЕТСЯ И РАЗДЕЛ "СООБЩЕНИЯ ОТ ПРЕПОДАВАТЕЛЕЙ", НИЧЕГО НЕ МОГУ ПОДЕЛАТЬ С ЭТИМ, НО ИРА ИСПРАВИЛА!!!*/
 /*паддинг для текста внутри карточки*/
div.span9 > .msg > li {
	padding: 20px 					!important;
}

 /*Даты*/
div.span9 > ul > li > font[color]{
	color: var(--color-text-secondary) 		!important;
	/*text-align не работает здесь*/
	padding-left: 60rem				!important;
	display: flex					!important;
}

 /*Заголовки*/
div.span9 > ul > li > font[style]{
	font-size: 16px 				!important;
}


 /**УЧЕБНЫЙ ПЛАН**/
 
 /*центрирование текста в таблице (кроме названия дисциплин)*/
.common td[align] {
	text-align: center !important;
}
 
 /*Свойства для селекторов .common td, .common th меняют таблицы в УЧЕБНОМ ПЛАНЕ, МОИХ ОЦЕНКАХ (ВСЕ ВКЛАДКИ), БИБЛИОТЕКА, ЭЛЕКТРОННЫЕ РЕСУРСЫ, СМЕНА ЛИЧНОЙ ЗАПИСИ*/
.common td,
.common th {
    color: var(--color-text-primary) 			!important; 
	background-color: var(--color-card) 		!important;
	border: 0.24rem solid var(--color-body) 	!important;
	padding: 0.8rem 				!important;
	vertical-align: middle !important;
}

 /*Подсвечивание "Программы дисциплин", "Практики", "Дисциплины по курсу и выбору", "Дисциплины по выбору стдента"...*/
body > div.container > div > div.span9 > div > table.common > tbody > tr > td[colspan="10"] {
	 background-color: var(--color-highlight) 	!important;
}

/*Подсвечивание заголовков таблиц*/
div.span9 table.common > tbody > tr > th {
	background-color: var(--color-highlight) 	!important;
}

 /*Отступ между триместрами*/
body > div.container > div > div.span9 > div > table.common {
	margin-bottom: 3rem 				!important;
}

 /*Цвет ссылок (первая колонка таблицы)*/
body > div.container > div > div.span9 > div > table.common > tbody > tr > td > a {
	color: var(--color-text-primary) 		!important; 
}

/*Скругления углов таблиц*/
div.span9 table.common> tbody > tr:nth-child(1) > *:nth-child(1){
	border-top-left-radius:  var(--radius-large) 	!important;
}

div.span9 table.common> tbody > tr:nth-child(1) > :nth-last-child(1){
	border-top-right-radius: var(--radius-large) 	!important;
}

div.span9 table.common> tbody > tr:nth-last-child(1) > *:nth-child(1){
	border-bottom-left-radius: var(--radius-large) 	!important;
}

div.span9 table.common> tbody > tr:nth-last-child(1) > *:nth-last-child(1){
	border-bottom-right-radius:var(--radius-large) 	!important;
}

/*Скругление фигурной скобки*/
/*Лучше делать скриптом, наверное*/
tr.cgrldatarow > td[rowspan="2"]{
	border-bottom-left-radius: var(--radius-large) 	!important;
}

/*СООБЩЕНИЯ ОТ ПРЕПОДАВАТЕЛЕЙ*/ 
/*Кнопка*/
/*Вылетает из формы, памагити*/
div.span9 > ul > input {
	color: var(--color-text-primary) !important;
	background-color: var(--color-highlight-transparent) !important;
	float: right !important;
    padding: 5px;
    border-radius: var(--radius-small) !important;
}

/*Номера страниц*/
div.span9 > div.week-select > ul > li {
	background-color: var(--color-highlight) !important;
	border: 0px;
	border-radius: var(--radius-large) !important;
	padding: 1.1rem !important;
	margin-bottom: 3.5rem !important;
	margin-right: 4.9px !important;
	font-size: 12px !important;
	line-height: 16px;
	text-align: center;
}

/*Скрытие текста "Страница"*/
div.span9 > div.week-select > ul > li:nth-child(1) {
	display: none !important;
}

/*Изменение цвета ссылки в сообщении преподавателя*/
div.span9 > ul > li > font[onclick] {
	color: var(--color-blue) !important;
}

/****************************************НАСТЯ END***************************************************************/

/**** БОКОВОЕ МЕНЮ ****/
div.span3 {
	width: var(--width-aside)					!important;
    border-radius: var(--radius-small)			!important;
}


/* Элемент бокового меню */
div.span3 > ul.nav-tabs > li > a {
	display: flex								!important;
	align-items: center 						!important;
	padding: 1.4rem 3rem 1.4rem 1.4rem			!important;
	
    border: 0									!important;
    color: var(--color-text-primary)			!important;
    background-color: var(--color-card) 		!important;
}

/* Элемент бокового меню при наведении на него мыши */
div.span3 > ul.nav-tabs > li > a:hover {
	background-color: var(--color-highlight-transparent)	!important;
}

/* Фон элемента бокового меню при клике на него (в ЕТИСе белый) */
div.span3 > ul.nav-tabs > li > a:focus {
	background-color: var(--color-highlight-transparent)	!important;
}

/* Нижний отступ элемента бокового меню (в ЕТИСе равен -1) */
div.span3 > ul.nav-tabs > li {
	position: relative				!important;
	margin-bottom: 0				!important;
}

/* Элемент бокового меню "Пожалуйста, оцените дистанционное обучение!" */
div.span3 > ul.nav-tabs > li[style]:hover {
	background-color: transparent								!important;
}

div.span3 > ul.nav-tabs > li[style] {
	background-color: var(--color-card) 						!important;
	border-radius: 0 0 var(--radius-small) var(--radius-small)	!important;
}

/* Текст элемента бокового меню "Пожалуйста, оцените дистанционное обучение!"*/
div.span3 > ul.nav-tabs > li > a > font {
	color: var(--color-text-primary)			!important;
	font-weight: normal 						!important;
}

/* Выбранный элемент бокового меню */
div.span3 > ul.nav-tabs > li.active > a {
	background-color: var(--color-highlight)	!important;
	font-weight: bold							!important;
}

/* Индикатор количества опросов/сообщений/etc. у бокового меню */
.span3 span.badge {
	position: absolute						!important;
	right: 1rem								!important;
	
	display: flex							!important;
	justify-content: center					!important;
	align-items: center						!important;
	
	height: 2.4rem							!important;
	width: 2.4rem							!important;
	
	padding: 0										!important;
	background-color: var(--color-accent)			!important;
	border-radius: var(--radius-small)				!important;
	color: var(--color-text-primary-invert)			!important;
}

/* Шрифт индикатора у активного элемента (не должен быть жирным) */
div.span3 > ul.nav-tabs > li.active > a > span.badge {
	font-weight: normal									!important;
}

/**** ОСНОВНОЙ КОНТЕНТ СПРАВА ****/
body > div.container > div.row > div.span9 {
	margin-left: var(--margin-left-content) 			!important;
}

@media screen and (max-width: 575px) {
	/**** БОКОВОЕ МЕНЮ ****/
	div.span3 {
		display: none							!important;
	}

}

/*** ПРИКАЗЫ***/
div.span9 > ul.orders > li.ord {
	margin-bottom: 3rem;
}

/*** МОИ ОЦЕНКИ (оценки за сессии)***/
/*** Заголовок***/
div.span9 > table.common > tbody > tr > th {
	background-color: var(--color-highlight) 				!important;
}

/***ВХОД В ЕТИС***/

/*выравнивание карточки по центру
div.login {
	height: 100vh !important;
	display: flex	!important;
	flex-direction: column	!important;
	justify-content: center	!important;
	margin-top: 0	!important;
	background: none	!important;
}*/

/*место для Логотипа*/
div.choose{
	/*display: none !important;*/
	width: 34,5rem;
    height: 20rem;
	background: var(--color-card)						!important;
	background-image: url("https://raw.githubusercontent.com/ENAleksey/etis-extension/8bc57f7b991ba8b6a07dec05809ac8c218082db4/psu_logo.svg") 															!important;
	opacity: .6								!important; 
	background-position: center 						!important;
	background-repeat: no-repeat						!important;
	border-bottom: 0							!important;
}


/*карточка входа*/
div.login > form#form{
	background: var(--color-card)						!important;
	border-radius:  var(--radius-large) 					!important;
	height: 46.3rem;
	width: 40rem;
	box-shadow: 0 1.4rem 2.8rem rgba(0,0,0,0.25), 0 1rem 1rem rgba(0,0,0,0.22) !important;
}

/*убрать тень на карточке входа*/
div.login::before{
	display: none								!important;
}
div.login::after{
	display: none								!important;
}


/*капча*/
.login .items button#sbmt {
	background: var(--color-card)						!important;
	border: 0								!important;
}

/*кнопка Вход*/
.login .items button#sbmt > span {
	background: var(--color-accent) 					!important;
	/*height: 10rem !important;
	width: 10 rem !important;*/

	text-shadow: none							!important;
	color: var(--color-text-primary-invert) 				!important;
	font: 14px 'PT Sans Caption', Verdana, sans-serif			!important;

	border-top: none							!important;
	border-radius: var(--radius-small)					!important;
	display: block								!important;
	position: absolute							!important;
	left: 21.9rem								!important;
	white-space: normal !important;
	/*отступы для создания кнопки Вход размером 100х32*/
	padding: 0.72rem 2.852rem !important;
}

/*логин и пароль*/
.login #form .items .item input {
	-webkit-box-shadow: 0 0 0px 1000px var(--color-input-field) inset 	!important;
	background-color: var(--color-input-field) 				!important;
	outline: none								!important;
	border: none;		/*!important не ставить, потому что работает скрипт*/
	-webkit-text-fill-color: var(--color-text-primary)			!important;
	border-radius: var(--radius-small)					!important;
	padding: 1rem								!important;
	line-height: 0								!important;
	height: 1.6rem								!important;
	width: 30rem								!important;
	background: var(--color-input-field)					!important;
	text-indent: 0								!important;
	font-size: 1rem 							!important;
	font: 12px 'PT Sans Caption', Verdana, sans-serif			!important;
	transition: background-color 5000s ease-in-out 0s;
	caret-color: var(--color-text-primary) !important;
}
div.items{
	padding: 0rem 0rem 0rem 4rem !important;
}
div.item > label{
	font: 12px 'PT Sans Caption', Verdana, sans-serif			!important;
}

/*сообщение об ошибке логина пароля*/
div.error_message{
	color: var(--color-text-primary)					!important;
	background: var(--color-error)						!important;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 5%;
	display: flex								!important;
	align-items: center							!important;
	justify-content: center							!important;
}

/*надпись Студенты 1-го курса для входа используют email и пароль личного кабинета абитуриента*/
.header_message{
	position: absolute							!important;
	bottom: 3rem;
	left: 20%;
	height: 5%;
	width: 60%;
	color: var(--color-text-secondary)					!important;
	background: var(--color-body)						!important;
}

/*надпись Регистрация (для работадателей)*/
div.right > a{
	color: var(--color-text-secondary)					!important;
	position: absolute							!important;
	right: 16rem								!important;
	font: 1.1rem 'PT Sans Caption', Verdana, sans-serif			!important;
	top: 39.3rem;
	
}

/*скрыла надпись Вход*/
h1.title{
	display: none								!important;
}

/*** СТРАНИЦА ПРЕПОДАВАТЕЛЕЙ ***/

/* Карточка преподавателя */
div.span9 > table.teacher_info {
	display: block							!important;
	
	margin-bottom: 1.2rem 					!important;
	padding: 0.6rem 0 0.6rem 0.6rem			!important;
	
	border-radius: var(--radius-small)		!important;
	background-color: var(--color-card) 	!important;
}

/* Верхняя карточка преподавателя */
div.span9 > table.teacher_info:nth-child(3) {
	margin-top: 2rem						!important;
}

/* Контент карточки преподавателя */
div.span9 > table.teacher_info tr {
	display: flex							!important;
	height: 15.5rem 						!important;
}

/* Отдельные блоки в карточке преподавателя */
div.span9 > table.teacher_info td {
	display: block							!important;
	padding: 0								!important;
}

/* Обёртка фотографии преподавателя */
div.span9 > table.teacher_info div.teacher_photo {
	border: none												!important;
	border-radius: var(--radius-small)							!important;
}

/* Фотография преподавателя */
div.span9 > table.teacher_info div.teacher_photo > img {
	/*width: 11.3rem												!important;*/
    height: 15.5rem												!important;	
	
	border: none												!important;
	border-radius: var(--radius-small)							!important;
}

/* Информация о преподавателе */
div.span9 > table.teacher_info td.teacher_desc {
	padding: 2rem 0 0 2rem							!important;
}

/* Информация о кафедре */
div.span9 > table.teacher_info td.teacher_desc > div.chair {
	margin-top: 2rem								!important;
	color: var(--color-text-secondary)				!important;
}

/* Информация о предметах, которые ведёт преподаватель */
div.span9 > table.teacher_info td.teacher_desc > div.dis {
	margin-top: 0.8rem								!important;
	color: var(--color-text-secondary)				!important;
}

/* Центрирование имени преподавателя/названия кафедры и иконки расписания */
div.span9 > table.teacher_info td.teacher_desc > div.teacher_name,
div.span9 > table.teacher_info td.teacher_desc > div.chair {
	display: flex									!important;
	align-items: center								!important;
}

/* Иконки расписания (преподавателей и кафедр) */
div.span9 > table.teacher_info td.teacher_desc > div.teacher_name > img.tooltip,
div.span9 > table.teacher_info td.teacher_desc > div.chair > img.tooltip {
	/* Скрывает их изначально, чтобы потом подменить скриптом */
	display: none;
	margin-left: 1rem								!important;
}