@font-face {
	font-family: 'Material Icons Outlined';
	font-style: normal;
	font-weight: 400;
	src: url(https://fonts.gstatic.com/s/materialiconsoutlined/v38/gok-H7zzDkdnRel8-DQ6KAXJ69wP1tGnf4ZGhUce.woff2) format('woff2');
}


:root {
	--font-family: 'PT Sans Caption', Verdana, sans-serif;
	/*--font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";*/
	
	--radius-small: 5px;
	--radius-medium: 8px;
	--radius-large: 12px;
	
	--width-aside: 24rem;
	--width-page: 1120px;
	--width-content: 80rem;
	--width-content-margin-left: 4rem;
}

[theme="light"] {
	--color-body: #ebebed;
	--color-card: #f2f2f2;
	--color-tooltip: #fff;
	--color-highlight: #f6f6f6;
	--color-highlight-light: #fff;
	--color-input: #f6f6f6;
	--color-input-highlight: #fff;
	--color-scrollbar-thumb: #c7c7d1;
	--color-scrollbar-thumb-highlight: #a2a2b3;
	--color-table-border: #ffffffa0;
	--color-table-header: #f6f6f6;
	--color-table-highlight: #f6f6f6;
	--color-accent: #a49dc2;
	--color-accent-dark: #6d61a0;
	--color-accent-hightlight: #bcb4da;
	--color-accent-active: #c9c1e9;
	--color-red: #e53935;
	--color-green: #38a73d;
	--color-blue: #6d61a0;
	--color-yellow: #c47500;
	--color-warning: #ff9900;
	--color-white: #fff;
	--color-error: #e53935;
	--color-dialog-fade: #aaa7;
	
	--color-text-link: #6d61a0;
	--color-text-primary: #000000de;
	--color-text-secondary: #00000099;
	--color-text-primary-invert: #fff;
	--color-text-accent: #6d61a0;
	--color-text-highlight: #000;
	--color-text-error: #e53935;
	
	--shadow-main: 0 8px 16px #a49dc220;
	--shadow-dialog: 0 0 16px #a49dc280;
	--shadow-tooltip: 0 0 10px #a49dc290;
	
	--border-input: 1px solid #a49dc2;
}


[theme="dark"] {
	--color-body: #181818;
	--color-card: #212121;
	--color-tooltip: #222;
	--color-highlight: #333333;
	--color-highlight-light: #444444;
	--color-input: #111111;
	--color-input-highlight: #000;
	--color-scrollbar-thumb: #333333;
	--color-scrollbar-thumb-highlight: #444444;
	--color-table-border: #ffffff10;
	--color-table-header: #333333;
	--color-table-highlight: #272727;
	--color-accent: #8ab4f8;
	--color-accent-dark: #5b9bff;
	--color-accent-hightlight: #9bc0fb;
	--color-accent-active: #bcd4fb;
	--color-red: #e87d7d;
	--color-green: #70c27e;
	--color-blue: #8ab4f8; /*9bb6df*/
	--color-yellow: #dad676;
	--color-warning: #ff9900;
	--color-white: #fff;
	--color-error: #d04524;
	--color-dialog-fade: #0007;
	
	--color-text-link: #8ab4f8;
	--color-text-primary: #ffffffde;
	--color-text-secondary: #ffffff99;
	--color-text-primary-invert: #000;
	--color-text-accent: #8ab4f8;
	--color-text-highlight: #fff;
	--color-text-error: #ff775a;
	
	--shadow-main: 0 4px 12px #0002;
	--shadow-dialog: 0 0 16px #00000080;
	--shadow-tooltip: 0 0 10px #00000090;
	
	--border-input: 1px solid #333;
}



/* Page Base */
/* ----------------------------------------------- */

html {
	font-size: 10px !important;
	height: 100% !important;
}

body {
	height: 100% !important;
	
	background: var(--color-body) !important;
	color: var(--color-text-primary) !important;
	
	font-family: var(--font-family) !important;
	overflow-y: overlay !important;
}

.container {
	padding: 0 !important;
	max-width: var(--width-page) !important;
	width: 100% !important;
	margin: 0 auto !important;
}

.container .row {
	margin: 0 !important;
	padding: 4rem 2rem 10rem !important;
}

.span3 {
	position: fixed !important;
	top: 4rem !important;
    bottom: 0 !important;
	width: var(--width-aside) !important;
	margin: 0 !important;
	overflow-x: hidden !important;
	float: none !important;
}

.span9 {
	width: auto !important;
	margin-left: calc(var(--width-aside) + var(--width-content-margin-left)) !important;
	float: none !important;
}

.span9 > h3 {
	margin-bottom: 1.4rem !important;
}

.submenu {
    font-size: 1.2rem !important;
    margin-bottom: 2.4rem !important;
}

.submenu + .submenu {
    margin-top: -1.2rem !important;
}

.warning {
	margin: 0 !important;
	width: auto !important;
	margin-bottom: 2rem !important;
	background: none !important;
	color: var(--color-text-error) !important;
	font-size: 1.2rem !important;
}

#tooltip {
	background: var(--color-tooltip) !important;
	color: var(--color-text-primary) !important;
	border: 0.1rem solid var(--color-text-primary) !important;
	padding: 0.4rem 0.6rem !important;
}

.flex-row {
	display: flex !important;
	align-items: center !important;
}

/* @media (max-width:960px) {
	.container {
		max-width: var(--width-content) !important;
	}
	
	.span3 {
		display: none !important;
	}
	
	.span9 {
		margin: 0 2rem !important;
	}
} */

*,
*:before,
*:after {
	box-sizing: border-box !important;
}

/* Scrollbar */

::-webkit-scrollbar {
	height: 1.4rem !important;
	width: 1.4rem !important;
	background: transparent !important;
	z-index: 12 !important;
	overflow: visible !important;
}

::-webkit-scrollbar-corner {
	background: transparent !important;
}

::-webkit-scrollbar-thumb {
	width: 1rem !important;
	background-color: var(--color-scrollbar-thumb) !important;
	border-radius: var(--radius-large) !important;
	z-index: 12 !important;
	border: 0.4rem solid transparent !important;
	background-clip: padding-box !important;
	transition: all 0.32s ease-out !important;
	margin: 0.4rem !important;
	min-height: 3.2rem !important;
	min-width: 3.2rem !important;
}

::-webkit-scrollbar-thumb:hover {
	background-color: var(--color-scrollbar-thumb-highlight) !important;
	border: 0.2rem solid transparent !important;
}

* {
	scrollbar-width: thin;
	scrollbar-color: var(--color-scrollbar-thumb) #00000000;
}

@supports (-moz-appearance:none) {
	.span3 {
		padding-right: 0.4rem !important;
	}
}

/* Default Colors */

font[color="red"],
tr[style="color:red;"],
span[style="color:red;"],
div[style="font-size:0.8em;color:red;"],
font[style="color:red;font-weight:bold"],
font[style="color:#d00;"] {
	color: var(--color-red) !important;
}

span[style="color:green;"],
font[color="green"],
div[style="font-size:0.8em;color:green;"] {
	color: var(--color-green) !important;
}

font[color="blue"],
font[style="font-weight:bold;color:blue;cursor:pointer"],
div[style="color:blue;font-size: 0.8em;"],
span[style="color:blue;"] {
	color: var(--color-blue) !important;
}

font[color="gray"],
font[color="#808080"],
font[style="font-size:10px;color:#808080"],
div[style="font-size:0.8em;color:gray;"],
span[style="color:#808080"],
font[style="font-weight:bold;color:#333333;"],
span[style="color:#333333"] {
	color: var(--color-text-secondary) !important;
}

font[color="#6A0035"] {
	color: var(--color-text-accent);
}

/* Links */

a {
	color: var(--color-text-link) !important;
}

a.dashed {
	color: var(--color-text-secondary) !important;
}

a.dashed:hover {
	color: var(--color-text-highlight) !important;
}

/* Header */

.navbar-static-top {
	display: none !important;
}

/* Tables */

table {
	border-radius: var(--radius-medium) !important;
	color: var(--color-text-primary) !important;
}

table tr td:nth-child(1), table tr th:nth-child(1) {
	border-left: none !important;
}

table tr td:nth-last-child(1), table tr th:nth-last-child(1) {
	border-right: none !important;
}

table tr:nth-child(1) td, table tr:nth-child(1) th {
	border-top: none !important;
}

table tr:nth-last-child(1) td, table tr:nth-last-child(1) th {
	border-bottom: none !important;
}

.common {
	margin-bottom: 2.4rem !important;
}

.common,
.slimtab_nice,
.teach_plan,
.question_table {
	width: 100% !important;
	box-shadow: var(--shadow-main) !important;
	overflow: hidden !important;
	position: relative !important;
	color: var(--color-text-primary) !important;
}

.common:after,
.slimtab_nice:after,
.teach_plan:after,
.question_table:after {
	top: 0 !important;
	box-shadow: 0 0 0 0.1rem var(--color-table-border) inset !important;
	content: '' !important;
	display: block !important;
	position: absolute !important;
	width: 100% !important;
	height: 100% !important;
	border-radius: var(--radius-medium) !important;
	pointer-events: none !important;
}

.common td,
.common th,
.slimtab_nice td,
.slimtab_nice th,
.question_table td {
	border: 0.2rem solid var(--color-body) !important;
	padding: 0.8rem 1.4rem !important;
	vertical-align: middle !important;
}

.common tr,
.slimtab_nice tr,
.teach_plan tr,
.question_table tr {
	background: var(--color-card) !important;
}

.common tr:hover,
.slimtab_nice tr:hover,
.timetable > .day > table tr:hover,
.teach_plan tr:hover {
	background: var(--color-table-highlight) !important;
}

/* remove vertical merged cell highlight on line hover */
.cgrldatarow:hover td[rowspan="2"] {
    background: var(--color-card) !important;
}

.common th,
.common th.subheader,
.common td[colspan="10"],
.slimtab_nice th,
.teach_plan th {
	background: var(--color-table-header) !important;
	vertical-align: middle !important;
	font-weight: bold !important;
}

.slimtab_nice > tbody > tr > td[valign="top"] {
	vertical-align: top !important;
	text-align: left !important;
}

.slimtab_nice > tbody > tr > td[valign="top"]:nth-child(1) {
	vertical-align: middle !important;
	text-align: center !important;
}

.common tr > td,
.common > tbody > tr > td[align="center"],
.slimtab_nice tr > td {
	text-align: center !important;
}

.common tr > td:nth-child(1),
.slimtab_nice tr > td:nth-child(1),
.cgrldatarow > td[style="border-left:none;"] {
	text-align: left !important;
}

.teach_plan td.bg_bold,
.teach_plan td.bgsu {
	background: var(--color-highlight) !important;
}

.teach_plan td,
.teach_plan th {
	border: 0.2rem solid var(--color-body) !important;
}

.teach_plan.dis_table {
	border-collapse: collapse !important;
}

.teach_plan td.w {
	background: var(--color-card) !important;
}

/* Default Dialog Window */

.ui-dialog {
	box-shadow: var(--shadow-dialog) !important;
}

.ui-dialog .ui-dialog-content {
	width: initial !important;
	height: initial !important;
}

.ui-dialog .ui-dialog-content > form {
	display: flex !important;
flex-direction: column !important;
}

.ui-dialog .ui-dialog-content > form > input {
	margin-top: 6px !important;
}

.ui-dialog .ui-dialog-content > form > input.btn {
	align-self: flex-end !important;
}

.ui-widget-content {
	border: none !important;
	background: var(--color-card) !important;
	color: var(--color-text-primary) !important;
}

.ui-widget-header {
	border: none !important;
	background: var(--color-highlight) !important;
	color: var(--color-text-primary) !important;
}

.ui-widget-overlay {
	background: var(--color-dialog-fade) !important;
	opacity: 1 !important;
}

.ui-dialog .ui-dialog-titlebar-close {
	border: none !important;
	background: none !important;
	color: var(--color-text-secondary) !important;
}

.ui-dialog .ui-dialog-titlebar-close > .ui-button-icon-primary {
	display: none !important;
}

.ui-dialog .ui-dialog-titlebar-close:before {
	content: 'close' !important;
	font-family: 'Material Icons Outlined' !important;
	font-size: 18px !important;
}

.ui-dialog .ui-dialog-titlebar-close:hover:before {
	color: var(--color-text-highlight) !important;
}



/* Inputs */
/* ----------------------------------------------- */

input,
select,
textarea,
button {
	font-family: inherit !important;
}

textarea {
	width: 100% !important;
}

select,
textarea {
	background: var(--color-input) !important;
	color: var(--color-text-primary) !important;
	padding: 0.4rem 0.8rem !important;
	border-radius: var(--radius-small) !important;
	border: var(--border-input) !important;
}

select:hover {
	background: var(--color-input-highlight) !important;
}

/* Input Fields */

input[type="text"],
input[type="password"],
input[type="email"] {
	background: transparent !important;
	color: var(--color-text-primary) !important;
	border: none !important;
	box-shadow: none !important;
	box-shadow: inset 0 -0.1rem 0 0 var(--color-text-secondary) !important;
	width: 100% !important;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus {
	box-shadow: inset 0 -0.2rem 0 0 var(--color-accent) !important;
	outline: none !important;
}

input[type="text"]:focus ~ label,
input[type="text"]:not(:placeholder-shown) ~ label,
input[type="password"]:focus ~ label,
input[type="password"]:not(:placeholder-shown) ~ label,
input[type="email"]:focus ~ label,
input[type="email"]:not(:placeholder-shown) ~ label {
	top: -2rem !important;
	font-size: 1.2rem !important;
}

input[type="text"]:-webkit-autofill ~ label,
input[type="password"]:-webkit-autofill ~ label,
input[type="email"]:-webkit-autofill ~ label {
	top: -2rem !important;
	font-size: 1.2rem !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	transition: background-color 9999s ease-in-out 9999s !important;
	-webkit-text-fill-color: var(--color-text-primary) !important;
	caret-color: var(--color-text-primary) !important;
}

/* Checkboxes, Radio Buttons */

input[type="checkbox"],
input[type="radio"] {
	display: inline-flex !important;
	align-items: center !important;
	justify-content: center !important;
	margin-right: 1rem !important;
}

input[type="checkbox"]:before {
	width: 1.8rem !important;
	height: 1.8rem !important;
	background: var(--color-input) !important;
	content: '' !important;
	position: absolute !important;
	border-radius: 0.2rem !important;
	border: var(--border-input) !important;
}

input[type="checkbox"]:checked:after {
	width: 0.8rem !important;
	height: 0.8rem !important;
	background: var(--color-accent) !important;
	content: '' !important;
	position: absolute !important;
	border-radius: 0.1rem !important;
	margin: 0.5rem !important;
}


input[type="radio"]:before {
	width: 1.8rem !important;
	height: 1.8rem !important;
	background: var(--color-input) !important;
	content: '' !important;
	position: absolute !important;
	border-radius: 50% !important;
	border: var(--border-input) !important;
}


input[type="radio"]:checked:after {
	width: 0.8rem !important;
	height: 0.8rem !important;
	background: var(--color-accent) !important;
	content: '' !important;
	position: absolute !important;
	border-radius: 50% !important;
	margin: 0.5rem !important;
}

input[type="checkbox"]:hover:before,
input[type="radio"]:hover:before {
	background: var(--color-input-highlight) !important;
}
input[type="checkbox"]:checked:hover:after,
input[type="radio"]:checked:hover:after {
	background: var(--color-accent-dark) !important;
}

/* Default Buttons */

button {
	padding: 0.8rem 1.6rem !important;
	color: var(--color-text-primary) !important;
	background: var(--color-highlight) !important;
	font-size: 1.4rem !important;
	border: none !important;
	border-radius: var(--radius-small) !important;
	text-shadow: none !important;
	box-shadow: var(--shadow-main) !important;
	display: flex !important;
	align-items: center !important;
	line-height: 1 !important;
}

button[disabled] {
	border: none !important;
    background: var(--color-highlight) !important;
	color: var(--color-text-secondary) !important;
	box-shadow: none !important;
	cursor: default !important;
}

button:hover,
button:active,
button:focus {
	background: var(--color-highlight-light) !important;
}

.button_gray {
	width: fit-content !important;
	align-self: flex-end !important;
	border: none !important;
    background: none !important;
}

.button_gray button {
	color: var(--color-text-primary-invert) !important;
	background: var(--color-accent) !important;
}

.button_gray button[disabled] {
    background: var(--color-highlight) !important;
	color: var(--color-text-secondary) !important;
}

.button_gray button:hover {
	background: var(--color-accent-hightlight) !important;
}

.button_gray button[disabled]:hover {
    background: var(--color-highlight) !important;
}

.button_gray button:active,
.button_gray button:focus {
	background: var(--color-accent-active) !important;
}

.button.blue {
	background: var(--color-accent) !important;
}

.button.blue:hover {
	background: var(--color-accent-hightlight) !important;
}

.button.blue:active,
.button.blue:focus {
	background: var(--color-accent-active) !important;
}

.button {
	font-family: inherit !important;
	border-radius: var(--radius-small) !important;
	border: none !important;
	margin: 0 !important;
	box-shadow: var(--shadow-main) !important;
	padding: 1rem 3.2rem !important;
	display: flex !important;
	align-items: center !important;
	justify-content: center !important;
}

.button:active,
.button.active {
	top: 0 !important;
	box-shadow: none !important;
}

.button span {
	border: none !important;
	color: var(--color-text-primary-invert) !important;
	text-shadow: none !important;
	padding: 0 !important;
}

/*Custom Buttons*/

.icon-button {
	display: flex !important;
	align-items: center !important;
	background: var(--color-card) !important;
	color: var(--color-text-primary) !important;
	font-size: 1.2rem !important;
	padding: 0.4rem 0.8rem !important;
	border-radius: var(--radius-small) !important;
	width: fit-content !important;
	box-shadow: var(--shadow-main) !important;
	text-decoration: none !important;
}

.icon-button2 {
	margin-left: 0.4rem !important;
	font-family: 'Material Icons Outlined' !important;
	font-size: 2rem !important;
	cursor: pointer !important;
	text-decoration: none !important;
	color: var(--color-text-secondary) !important;
}

.icon-button2:hover {
	color: var(--color-text-highlight) !important;
}

.icon-button:hover {
	background: var(--color-highlight) !important;
}

.icon-button:active {
	background: var(--color-highlight-light) !important;
	box-shadow: none !important;
}

.icon-button:before {
	margin-right: 0.6rem !important;
	
	font-family: 'Material Icons Outlined' !important;
	font-size: 1.8rem !important;
}

.icon-button.icon-feedback:before {
	content: 'feedback' !important;
}

.icon-button.icon-analytics:before {
	content: 'analytics' !important;
}

.icon-button.icon-today:before {
	content: 'today' !important;
}



/* Feedback page */
/* ----------------------------------------------- */

.review {
	padding-bottom: 3rem !important;
	border-radius: var(--radius-medium) !important;
	width: 100% !important;
}

.question {
	margin: 0 0 1.6rem 0 !important;
}

.question li {
	margin-left: 0.8rem !important;
	margin-top: 0.4rem !important;
}

.question > .text {
	color: var(--color-text-primary) !important;
}

.question label {
	color: var(--color-text-secondary) !important;
	display: flex !important;
	align-items: center !important;
}

.comment > label {
	color: var(--color-text-primary) !important;
	margin-bottom: 0.4rem !important;
}

.comment > textarea {
	width: 100% !important;
	height: 20rem !important;
	padding: 0.8rem 1.2rem !important;
	resize: none !important;
}



/* Questioning page */
/* ----------------------------------------------- */

form.que_form {
    margin-top: 1rem !important;
}

.question_table {
	margin: 1.4rem 0 3rem !important;
}

.question_table .text,
.question_table tr:first-child {
    background: var(--color-table-header) !important;
}

.cgrldatarow:hover {
	background: var(--color-table-highlight) !important;
}

.question_table .answer_cell .answer {
	margin: 0 !important;
}



/* Sidebar */
/* ----------------------------------------------- */

.span3 > .nav.nav-tabs.nav-stacked {
	border-radius: var(--radius-medium) !important;
	background: var(--color-card) !important;
	box-shadow: var(--shadow-main) !important;
}

.span3 > .nav.nav-tabs.nav-stacked:last-child {
	margin-bottom: 4rem !important;
}

.span3 > .nav.nav-tabs.nav-stacked > li {
	background: var(--color-card) !important;
}

.span3 > .nav.nav-tabs.nav-stacked > li:first-child {
	border-top-right-radius: var(--radius-small) !important;
	border-top-left-radius: var(--radius-small) !important;
}

.span3 > .nav.nav-tabs.nav-stacked > li:last-child {
	border-bottom-right-radius: var(--radius-small) !important;
	border-bottom-left-radius: var(--radius-small) !important;
}

.span3 > .nav-tabs.nav-stacked > li:first-child > a {
	border-top-right-radius: var(--radius-small) !important;
	border-top-left-radius: var(--radius-small) !important;
}

.span3 > .nav-tabs.nav-stacked > li:last-child > a {
	border-bottom-right-radius: var(--radius-small) !important;
	border-bottom-left-radius: var(--radius-small) !important;
}

.span3 > .nav.nav-tabs.nav-stacked:last-child > li > a {
	justify-content: left !important;
}

.span3 > .nav.nav-tabs.nav-stacked > li > a {
	display: flex !important;
	align-items: center !important;
	justify-content: space-between !important;

	padding: 1.1rem 0.8rem 1.1rem 1.4rem !important;
	background: var(--color-card) !important;
	color: var(--color-text-primary) !important;
	border: none !important;
	cursor: pointer !important;
}

.span3 > .nav.nav-tabs.nav-stacked > li > a:hover {
	background: var(--color-highlight) !important;
}

.span3 > .nav.nav-tabs.nav-stacked > .active {
	font-weight: bold !important;
	display: flex !important;
	align-items: center !important;
}

.span3 > .nav.nav-tabs.nav-stacked > .active:before {
	position: absolute !important;
	width: 0.5rem !important;
	height: 3.2rem !important;
	z-index: 3 !important;
	
	content: "" !important;
	border-radius: var(--radius-medium) !important;
	background: var(--color-accent) !important;
	transition: height 0.08s ease-out !important;
}

.span3 > .nav.nav-tabs.nav-stacked > .active:hover:before {
	height: 4rem !important;
}

.span3 > .nav.nav-tabs.nav-stacked > .active > a {
	width: 100% !important;
}

.span3 > .nav.nav-tabs.nav-stacked > li > a > .badge {
	background-color: var(--color-accent) !important;
	padding: 0.2rem 0 !important;
	color: var(--color-text-primary-invert) !important;
	border-radius: var(--radius-small) !important;
	margin: -1.2rem 0 !important;
	width: 2.4rem !important;
	font-weight: normal !important;
}

.material-icons {
    font-family: 'Material Icons Outlined' !important;
	font-size: 20px !important;
	font-weight: normal !important;
	pointer-events: none !important;
}

.span3 > .nav.nav-tabs.nav-stacked > li > a > .material-icons {
	margin-right: 10px !important;
}

.span3 > .nav.nav-tabs.nav-stacked > .warn_menu > a,
.span3 > .nav.nav-tabs.nav-stacked > li > a[href="stu_plus.advice"] > font > b,
.span3 > .nav.nav-tabs.nav-stacked > li > a[href="stu_plus.add_snils"] > font > b,
.span3 > .nav.nav-tabs.nav-stacked > li > a[href="ebl_stu.ebl_choice"] > b {
	color: var(--color-text-primary) !important;
	font-weight: inherit !important;
}

.badge-point {
    min-width: 0.8rem !important;
    background-color: var(--color-warning);
    width: 0.8rem !important;
    height: 0.8rem;
    padding: 0.2rem 0px !important;
    margin: -1.2rem 0.8rem !important;
    border-radius: 10rem;
}



/* Teach Plan Page */
/* ----------------------------------------------- */

.themes .hour,
.ctl_hours,
.book_list .pages,
.link_list .descr{
	color: var(--color-text-secondary) !important;
}

.badge.ctl {
	padding: 0.2rem 0.4rem !important;
	background: var(--color-error) !important;
	border-radius: 0.4rem !important;
	display: inline !important;
}

.tpr_part {
	line-height: 1.5 !important;
}



/* Educational Standard Page */
/* ----------------------------------------------- */

.ses_part {
	line-height: 1.5 !important;
}

.cpt_list + h3 {
    margin-top: 2rem !important;
}



/* Week Select */
/* ----------------------------------------------- */

.week-select h3 {
	display: none !important;
}

.week-select {
	margin: 0 auto 3.2rem !important;
	width: 100% !important;
}

.weeks {
	display: flex !important;
	justify-content: center !important;
	flex-wrap: wrap !important;
}

/*.weeks {*/
/*display: flex!important !important;*/
/*flex-wrap: wrap!important !important;*/
/*width: 276px !important;*/
/*background: var(--color-card) !important;*/
/*padding: 12px !important;*/
/*border-radius: var(--radius-medium) !important;*/
/*box-shadow: 0 4px 16px #0006 !important;*/
/*position: absolute !important;*/
/*left: 50% !important;*/
/*top: 26% !important;*/
/*}*/

.week {
	display: flex !important;
	justify-content: center !important;
	align-items: center !important;
	
	margin: 0 0.4rem 0.4rem 0 !important;
	padding: 0 !important;
	width: auto !important;
	
	background-color: var(--color-card) !important;
	box-shadow: var(--shadow-main) !important;
	border-radius: var(--radius-medium) !important;
	border: none !important;
	
	font-size: 1.2rem !important;
	overflow: hidden !important;
}

.week:hover {
	background: var(--color-highlight) !important;
}

.week:active {
	box-shadow: none !important;
}

.weeks > .week > a {
	display: flex !important;
	justify-content: center !important;
	align-items: center !important;
	width: 3.8rem !important;
	height: 3.8rem !important;
	color: var(--color-text-primary) !important;
	text-decoration: none !important;
}

.weeks > .week > a:active {
	background: var(--color-highlight-light) !important;
}

.weeks .week.current {
	font-weight: bold !important;
	width: 3.8rem !important;
	height: 3.8rem !important;
	
	color: var(--color-accent) !important;
}

.weeks .week.current::after {
	position: absolute !important;
	margin-top: 2.4rem !important;
	width: 2.4rem !important;
	height: 0.4rem !important;
	
	content: '' !important;
	border-radius: var(--radius-medium) !important;
	background: var(--color-accent) !important;
}

.weeks .week.session a, .weeks .week.session, .weeks .week.session.current {
	color: var(--color-red) !important;
	border: none !important;
	border-radius: var(--radius-medium) !important;
}

.weeks .week.holiday a, .weeks .week.holiday, .weeks .week.holiday.current {
	color: var(--color-green) !important;
	border: none !important;
	border-radius: var(--radius-medium) !important;
}

.weeks .week.pract a, .weeks .week.pract, .weeks .week.pract.current {
	color: var(--color-yellow) !important;
	border: none !important;
	border-radius: var(--radius-medium) !important;
}

.weeks .week.session.current::after {
	background: var(--color-red) !important;
}

.weeks .week.holiday.current::after {
	background: var(--color-green) !important;
}

.weeks .week.pract.current::after {
	background: var(--color-yellow) !important;
}



/* Timetable Page */
/* ----------------------------------------------- */

div.timetable-buttonbar {
	display: flex !important;
	flex-direction: row !important;
	align-items: center !important;
	justify-content: flex-end !important;
	flex-wrap: wrap !important;
	white-space: nowrap !important;
}

.timetable-btn {
	margin: 0 0 1.4rem 1.4rem !important;
}

div.consultations {
	display: flex !important;
	align-items: center !important;
	float: none !important;
	color: var(--color-text-primary) !important;
}

span.holiday {
	background-color: var(--color-green) !important;
	color: var(--color-text-primary-invert) !important;
	padding: 0.4rem 0.8rem !important;
	border-radius: 50rem !important;
	margin-top: 0.6rem !important;
	display: inline-block !important;
}

.day {
	border-radius: var(--radius-medium) !important;
	background-color: var(--color-card) !important;
	box-shadow: var(--shadow-main) !important;
	overflow: hidden !important;
	padding: 0.6rem 0 !important;
	margin-bottom: 2rem !important;
}

.day h3 {
	padding: 1rem 1.6rem 1.4rem !important;
	margin: 0 !important;
	font-size: 14px !important;
}

.no_pairs {
	padding: 1.2rem 1.6rem 2rem !important;
}

.timetable {
	display: flex !important;
	flex-direction: column !important;
	width: 100% !important;
}

.timetable td {
	border: none !important;
	vertical-align: middle !important;
	padding-top: 0.2rem !important;
	padding-bottom: 0.2rem !important;
	font-size: 1.2rem !important;
}

.pair_num {
	width: 8rem !important;
	height: 5rem !important;
	border: none !important;
	font-size: 0 !important;
}

.pair_num .eval {
	font-size: 1.1rem !important;
	color: var(--color-text-secondary) !important;
}

.pair_info {
	padding-right: 1.4rem !important;
}

.pair_info .dis a {
	color: var(--color-text-primary) !important;
	text-decoration: none !important;
	font-size: 1.4rem !important;
}

.pair_info .dis a:hover {
	color: var(--color-text-highlight) !important;
}

.pair_teacher {
	width: 14rem !important;
	text-align: right !important;
	padding-right: 1.4rem !important;
}

.pair_teacher > a {
	color: var(--color-text-secondary) !important;
	text-decoration: none !important;
}

.pair_teacher > a:hover {
	color: var(--color-text-highlight) !important;
}

.pair_teacher .eval {
	display: none !important;
}

.pair_info .aud {
	color: var(--color-text-secondary) !important;
	font-size: 1.1rem !important;
}

.pair_info .aud > a {
	display: flex !important;
	align-items: center !important;
	color: var(--color-text-secondary) !important;
	text-decoration: none !important;
}

.pair_info .aud > a:hover {
	color: var(--color-text-highlight) !important;
}

.pair_info .aud > a > img {
	display: none !important;
}

.pair_info .aud > a:before {
	margin-right: 0.6rem !important;
	
	font-family: 'Material Icons Outlined' !important;
	content: 'videocam' !important;
	font-size: 1.8rem !important;
}

.pair_info div:nth-child(1) {
	margin-bottom: 0.2rem !important;
}



/* Teachers Page */
/* ----------------------------------------------- */

.teacher_info {
	background-color: var(--color-card) !important;
	box-shadow: var(--shadow-main) !important;
}

.teacher_photo {
	padding: 0.5rem !important;
	border: none !important;
}

.teacher_photo > img {
	display: block !important;
	border: none !important;
	border-radius: var(--radius-small) !important;
}

.teacher_desc {
	width: 100% !important;
	padding-left: 1.6rem !important;
	font-size: 1.2rem !important;
}

.teacher_desc > .chair {
	color: var(--color-text-secondary) !important;
	padding-bottom: 0.4rem !important;
	display: flex !important;
	align-items: center !important;
	line-height: 1 !important;
}

.teacher_desc > .teacher_name {
	font-size: 1.6rem !important;
	padding-bottom: 0.8rem !important;
	display: flex !important;
	align-items: center !important;
	line-height: 1 !important;
}

.empty {
	background: initial !important;
}



/* Survey Page and Visit Log Page */
/* ----------------------------------------------- */

.span9 > .nav.nav-tabs.nav-stacked > li > a {
	border: none !important;
}

.span9 > .nav.answ.nav-tabs.nav-stacked > li > a:hover,
.span9 > .nav.msg.nav-tabs.nav-stacked > li > a:hover {
	text-decoration: none !important;
}

.span9 > .nav.answ.nav-tabs.nav-stacked {
	border: 0.1rem solid var(--color-accent) !important;
}

.span9 > .nav.nav-tabs.nav-stacked > li > a:hover {
	background: none !important;
	text-decoration: underline !important;
}

.span9 > .nav.nav-tabs.nav-stacked > li > a:focus {
	background: none !important;
}

.nav.answ > li > a:hover > font,
.nav.msg > li > a:hover > font {
	color: var(--color-text-primary) !important;
}

.nav.answ,
.nav.msg {
	padding: 1.2rem !important;
	border: none !important;
	border-radius: var(--radius-medium) !important;
	background: var(--color-card) !important;
	box-shadow: var(--shadow-main) !important;
	text-decoration: none !important;
}

.nav.answ .review,
.nav.msg .review {
	padding: 0 !important;
}

.nav.answ .comment {
	margin-bottom: 1.4rem !important;
}

/* margin between text and cards */
.nav {
    margin-bottom: 2rem !important;
}
.nav + .nav {
    margin-top: 2rem !important;
}



/* Orders and Certificates Page */
/* ----------------------------------------------- */

.ord-inactive {
	color: var(--color-text-secondary) !important;
}

.ord-name {
	font-size: 1.2rem !important;
}

.ord-name > a {
	text-decoration: none !important;
}

.ord-name > a:hover {
	text-decoration: underline !important;
}

.ord-name > .icon-button2 {
	margin: 0 0.4rem 0 0 !important;
}

.ord-name > .icon-button2:hover {
	text-decoration: none !important;
}

.certificates-info {
    color: var(--color-green) !important;
    font-size: 1.2rem !important;
    display: block !important;
    margin-bottom: 2rem !important;
}

span[style="color:red;font-size:1.2em;font-weight:bold;"] {
	color: var(--color-red) !important;
	font-size: 1.2rem !important;
}



/* Login Page */
/* ----------------------------------------------- */

.login-container {
	display: flex !important;
	flex-direction: column !important;
	height: 100% !important;
}

.login {
	margin: 2rem auto !important;
	display: flex !important;
	align-items: center !important;
	justify-content: center !important;
	flex: 1 0 auto !important;
	background: var(--color-body) !important;
}

.login:before, .login:after {
	display: none !important;
}

.psu-logo {
	position: relative !important;
	content: '' !important;
	height: 20rem !important;
	width: 100% !important;
	background-image: url("https://raw.githubusercontent.com/ENAleksey/etis-extension/8bc57f7b991ba8b6a07dec05809ac8c218082db4/psu_logo.svg") !important;
	opacity: .6 !important;
	background-size: 20rem !important;
	background-position: center !important;
	background-repeat: no-repeat !important;
	margin-bottom: 4.8rem !important;
}

html[theme="light"] .psu-logo {
	filter: invert(1) !important;
}

.login > form > .choose {
	display: block !important;
    padding: 0 !important;
    border-bottom: none !important;
	background: none !important;
	margin-bottom: 2.4rem !important;
	font-size: 0 !important;
}

.login > form > .choose > .right {
	display: none !important;
}

.login > form > .choose > h1 {
	font-size: 1.8rem !important;
}

.login-actions {
	display: flex !important;
	align-items: center !important;
	justify-content: space-between !important;
	font-size: 1.4rem !important;
}

.forgot-password {
	color: var(--color-text-secondary) !important;
}

.grecaptcha-badge {
	display: none !important;
}

.footer {
	margin: 0 auto !important;
	max-width: var(--width-content) !important;
	padding: 2rem !important;
	color: var(--color-text-secondary) !important;
	font-size: 1.2rem !important;
	text-align: center !important;
}

.footer p + p {
	margin-top: 1.2rem !important;
}

.error_message {
	position: fixed !important;
	left: 0 !important;
	right: 0 !important;
	top: 0 !important;
	padding: 0.8rem 0 !important;
	background: var(--color-error) !important;
	color: var(--color-white) !important;
	font-size: 1.4rem !important;
	text-align: center !important;
	z-index: 1;
}

.header_message {
	display: none !important;
}



/* Forms */
/* ----------------------------------------------- */

.login form, .form {
	display: flex !important;
	flex-direction: column !important;
	padding: 3.2rem !important;
	box-shadow: var(--shadow-main) !important;
	background: var(--color-card) !important;
	border-radius: var(--radius-large) !important;
	width: 36rem !important;
	margin: 0 auto !important;
}

form br {
	display: none !important;
}

form > h3 {
    margin-bottom: 3.2rem !important;
    font-weight: bold !important;
    font-size: 1.8rem !important;
}

form > .items {
	padding: 0 !important;
	font-size: 0 !important;
}

form > .items > .item {
	position: relative !important;
	margin: 0 !important;
	z-index: 0 !important;
	font-size: 1.2rem !important;
	margin: 0 0 3.2rem !important;
}

.items > .item > input {
	text-indent: 0 !important;
	height: auto !important;
	line-height: normal !important;
	font-size: 1.4rem !important;
	padding: 0 0 0.8rem !important;
	
}

.items > .item > label {
	color: var(--color-text-secondary) !important;
	position: absolute !important;
	margin: 0 !important;
	top: 0 !important;
	padding: 0 0 0.8rem !important;
	z-index: -1 !important;
	transition: 0.2s !important;
	user-select: none !important;
	font-size: 1.4rem !important;
}



/* Change Email Page */
/* ----------------------------------------------- */

.form > .error {
	color: var(--color-text-error) !important;
	padding-bottom: 1.6rem !important;
}



/* Change Email Page */
/* ----------------------------------------------- */

.form-info {
	margin-bottom: 3.2rem !important;
}

.form-info > span {
	color: var(--color-text-error) !important;
    font-size: inherit !important;
    font-weight: normal !important;
    font-style: normal !important;
    display: block !important;
    padding-bottom: 0.6rem !important;
}

.form-info > ul {
	padding-left: 1.6rem !important;
	padding-top: 0.6rem !important;
}



/* Announcements Page and Teachers Messages Page */
/* ----------------------------------------------- */

/* added class for messages */
.nav.msg.message {
	padding: 0 !important;
	background-color: var(--color-card) !important;
}

/* unreaded message */
.nav.msg.answ.message {
	border: 0.1rem solid var(--color-accent) !important;
}

/* added class for message's header */
.nav.msg.message > .message-header {
	display: flex !important;
	justify-content: space-between !important;
	background-color: var(--color-highlight) !important;
	border-radius: var(--radius-medium) var(--radius-medium) 0 0 !important;
	padding: 1.8rem 2.4rem 1.8rem 2.4rem !important;
}

/* message's title */
.message-header > font[style="font-weight:bold"] {
	color: var(--color-text-primary) !important;
}

/* message's date and time */
.message-header > font[color="#808080"] {
	color: var(--color-text-secondary) !important;
	min-width: 11rem !important;
	margin-left: 5rem !important;
}

/* message's body */
.nav.msg.message > li:nth-child(2) {
	background-color: var(--color-card) !important;
	border-radius: 0 0 var(--radius-medium) var(--radius-medium) !important;
	padding-top: 2.4rem !important;
	padding-bottom: 2.4rem !important;
	line-height: 1.5;
}

.nav.msg.message > li {
	padding-left: 2.4rem !important;
	padding-right: 2.4rem !important;
}

.nav.msg.message > li > a:hover,
.nav.msg.message > li > a:focus {
	background: none !important;
	text-decoration: underline !important;
}

.nav.msg.message > li:nth-last-child(1) {
	padding-bottom: 2.4rem !important;
}


/* Teachers Messages Page only */

/* added class for message page numbers */
.message-pages {
	display: flex !important;
	justify-content: start !important;
}

.message-pages > li[style="width:5em"] {
	display: none !important;
}

/* message header's content */
.message-info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.message-info > *:nth-child(1) {
	margin-bottom: 1.2rem !important;
}

/* teacher's name */
.message-info.main-info > b > i {
	display: flex !important;
	align-items: center !important;
	font-weight: normal !important;
	font-size: 1.6rem !important;
}

.secondary-info {
	text-align: right !important;
	margin-left: 5rem !important;
}

.message-info.secondary-info > * {
	color: var(--color-text-secondary) !important;
	font-weight: normal !important;
}

.message-info.secondary-info > font[title="Показать все сообщения по этой дисциплине"]::before {
	font-family: 'Material Icons Outlined' !important;
	content: 'filter_alt' !important;
	font-size: 1.6rem !important;
	margin-right: 3px !important;
	vertical-align: top !important;
	width: 100% !important;
}

.message-info.secondary-info > font[title="Показать все сообщения по этой дисциплине"]:hover {
	color: var(--color-text-primary) !important;
}

/* message's date and time */
.secondary-info > font[color="#808080"] {
	margin-top: 5px !important;
}

/* element above send button */
.message.nav.msg > li:nth-last-child(3) {
	padding-bottom: 2.4rem !important;
}

/* send button added wrapper */
.answer-wrapper {
	display: flex !important;
	flex-direction: row-reverse !important;
}

.answer-wrapper > button {
	padding: 0.6rem 1.2rem !important;
	font-size: 1.2rem !important;
}

/* send button's icon */
.answer-wrapper > button::before {
	font-family: 'Material Icons Outlined' !important;
	content: 'add' !important;
	font-size: 1.8rem !important;
	margin-right: 0.5rem !important;
}

/* form that appears after click on send button */
.message > div > form {
	display: flex !important;
	flex-direction: column !important;
	padding: 0 2.4rem 2.4rem 2.4rem !important
}

.message > div > form > textarea {
	margin: 0 0 1rem 0 !important;
}

.message > div > form > font {
	font-size: 1.2rem !important;
	color: var(--color-text-secondary) !important;
	margin: 0 0 1rem 0 !important;
	align-self: flex-end !important;
}

.message > div > form > input {
	width: 12.7rem !important;
	height: 3.2rem !important;

	display: flex !important;
	align-items: center !important;
	justify-content: center !important;

	background-color: var(--color-highlight) !important;
	color: var(--color-text-primary) !important;
	border: 0 !important;
	border-radius: var(--radius-small) !important;
	align-self: flex-end !important;
}

/* message that was sent to teacher */
.message.repl_s.nav.msg {
	padding: 2.4rem !important;
}

.message.repl_s.nav.msg > li {
	padding: 0 !important;
}

/* Tooltip for control points cells */
.sign-tooltip-wrapper {
	position: fixed;
	display: flex;
	flex-direction: column;
	align-items: center;
	filter: drop-shadow(var(--shadow-tooltip));
}

.sign-tooltip {
	padding: 0.8rem 1.6rem;
	max-width: 26rem;
	border-radius: var(--radius-large);
	font-size: 1.2rem;
	line-height: 1.8rem;
	text-align: center;
	color: var(--color-text-primary);
	background: var(--color-highlight);
	z-index: 12;
  }

.sign-tooltip-triangle {
	position: relative;
	z-index: 11;
	display: block;
}