[theme="light"] {
	--color-body: #ebebed;
	--color-card: #f2f2f2;
	--color-tooltip: #fff;
	--color-highlight: #f6f6f6;
	--color-highlight-light: #fff;
	--color-input: #f6f6f6;
	--color-input-highlight: #fff;
	--color-scrollbar-thumb: #c7c7d1;
	--color-scrollbar-thumb-highlight: #a2a2b3;
	--color-table-border: #ffffffa0;
	--color-table-header: #f6f6f6;
	--color-table-highlight: #f6f6f6;
	--color-accent: #a49dc2;
	--color-accent-dark: #6d61a0;
	--color-accent-hightlight: #bcb4da;
	--color-accent-active: #c9c1e9;
	--color-red: #e53935;
	--color-green: #38a73d;
	--color-blue: #6d61a0;
	--color-yellow: #c47500;
	--color-white: #fff;
	--color-error: #e53935;
	--color-dialog-fade: #aaa7;
	
	--color-text-link: #6d61a0;
	--color-text-primary: #000000de;
	--color-text-secondary: #00000099;
	--color-text-primary-invert: #fff;
	--color-text-accent: #6d61a0;
	--color-text-highlight: #000;
	--color-text-error: #e53935;
	
	--shadow-main: 0 8px 16px #a49dc220;
	--shadow-dialog: 0 0 16px #a49dc280;
	
	--border-input: 1px solid #a49dc2;
}


[theme="dark"] {
	--color-body: #181818;
	--color-card: #212121;
	--color-tooltip: #222;
	--color-highlight: #333333;
	--color-highlight-light: #444444;
	--color-input: #111111;
	--color-input-highlight: #000;
	--color-scrollbar-thumb: #333333;
	--color-scrollbar-thumb-highlight: #444444;
	--color-table-border: #ffffff10;
	--color-table-header: #333333;
	--color-table-highlight: #272727;
	--color-accent: #8ab4f8;
	--color-accent-dark: #5b9bff;
	--color-accent-hightlight: #9bc0fb;
	--color-accent-active: #bcd4fb;
	--color-red: #e87d7d;
	--color-green: #70c27e;
	--color-blue: #8ab4f8; /*9bb6df*/
	--color-yellow: #dad676;
	--color-white: #fff;
	--color-error: #d04524;
	--color-dialog-fade: #0007;
	
	--color-text-link: #8ab4f8;
	--color-text-primary: #ffffffde;
	--color-text-secondary: #ffffff99;
	--color-text-primary-invert: #000;
	--color-text-accent: #8ab4f8;
	--color-text-highlight: #fff;
	--color-text-error: #ff775a;
	
	--shadow-main: 0 4px 12px #0002;
	--shadow-dialog: 0 0 16px #00000080;
	
	--border-input: 1px solid #333;
}