/* Orders Page */
/* ----------------------------------------------- */

.ord-inactive {
	color: var(--color-text-secondary) !important;
}

.ord-name > a {
	text-decoration: none !important;
}

.ord-name > a:hover {
	text-decoration: underline !important;
}